# Python
__pycache__/
*.pyc

# Spark / Data outputs
data/raw/
data/staging/
data/processed/
data/curated/

# Secrets & configs
config/*.json
*.pem
.env

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

